html{
    background-color: white
}

h1 {
    position: relative;
    left: 440px ;
    font-family: Trebuchet MS;
    color: rgb(61, 37, 48)

}

img{
    position: relative;
    border: 5px solid #555;
    

}

.image{
    position: relative;
    left: 90px;
    

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    border-radius: 15px;
  
  
  
  }
  
  li {
    float: left;
  
  
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Trebuchet MS;
    font-size: 20px
  
  
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .MockStatsTable_statsTable__2edDg table {
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25;
    background-color: transparent;
    border-collapse: collapse;
    border-color: #ebe9e7;
    border-spacing: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--border-muted);
    font-size: 13px;
    font-feature-settings: ;
    font-variant: proportional-width;
    margin: 0;
    position: relative;
    width: 100%;
}